{% extends 'manager/index.html' %}

{% block content %}

<div class="col-sm-3"></div>
<div class="container  col-sm-6">
    <div class="list-group">
        {% for meal in meals %}
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading ">
                        <a data-toggle="collapse" href="#{{ meal.pk }}" class="list-group-item">{{ meal }}
                            <span class="badge">{{ meal.meal_date }}</span></a>
                    </div>
                    <div id="{{ meal.pk }}" class="panel-collapse collapse">
                        <ul class="list-group-item">
                            <li class="list-group-item list-group-item-info">
                                Actions
                                <span class="badge">
                                    <a href="{% url 'delete_meal' pk=meal.pk %}" style="color: white; text-decoration: none;" >Delete</a></span>
                            </li>
                            {% for m_name in meal_names %}
                                {% if meal.name in m_name %}
                                    {% for product in products %}
                                        {% if product.0 == m_name.1 %}
                                            <li class="list-group-item list-group-item-success">{{ product.1 }}
                                                <span class="badge">{{ product.2 }} g</span></li>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
