{% extends 'manager/index.html' %}

{% block content %}

<center><form method="POST">
    {{ error }}
    {% csrf_token %}
    <p><div class="input-group col-sm-6">
        {{ form.name }}
    </div></p>
    <p><div class="input-group col-sm-6">
        {{ form.product }}
    </div></p>
    <p><div class="input-group col-sm-6">
        {{ form.meal_date }}
    </div></p>
    <p><div class="input-group col-sm-6">
        {{ form.created_by }}
    </div></p>
    <button type="submit" class="btn btn-default ">Add meal</button>
</form></center>

{% endblock %}
