{% extends 'manager/index.html' %}

{% block content %}

<center><form method="POST">
    {{ error }}
    {% csrf_token %}
    <p><div class="input-group col-sm-6">
        {{ form.name }}
    </div></p>
    <p><div class="input-group col-sm-6">
        {{ form.description }}
    </div></p>
    <p><div class="input-group col-sm-6">
        {{ form.calories }}
    </div></p>
    <p><div class="input-group col-sm-6">
        {{ form.category }}
    </div></p>
    <button type="submit" class="btn btn-default ">Add product</button>
</form></center>

{% endblock %}
